body{
    margin:0!important;
    font-size:16px;
    position:relative;
    overflow: hidden;
}

main {
    width:100vw;
    height:calc(100vh - 50px);
    background-image:url("img/pixel-art-dithering.jpg");
    background-size: cover;
}



#menu-overlay-gauche {
    position: absolute;
    width:calc(100% - 0.5em);
    height:calc(100%);
    font-size: 5em;
    /* top:0.5em; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* margin:1em; */
}

.icon {
    /* margin: 0.5em 0; */
    

    right:15px;
}


.windowframe{
    background-color: white;
    
    border:1px black solid;
}

.topframe {
    
    height:40px;
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 10px 1em 0;
    
}

iframe{
    width:calc(100% - 4px);
    height:calc(100% - 54px);
    
}

.topframe:hover{
    cursor:move;
}

#bottom-bar{
    width:100%;
    position:fixed;
    bottom:0;
    left:0;
    border-top:1px black solid;
    height:60px;
    background-image: url("img/dither-image.jpg");
    background-repeat: repeat-x;
    background-size: contain;
    display:flex;
}

.wholeframe{
    position:relative;
}

.fullscr{
    margin:0 2em 0 0;
    
}
.fullscr:hover{
    cursor:ns-resize;
}

.minimize{
    margin:0 0 0 2em;
    float:right;
}
.minimize:hover{
    cursor:pointer;
}

.kill{
    margin:0 0 0 2em;
    float:right;
}

.kill:hover{
    cursor:not-allowed;
}


#start-menu{
    height:58px;
    width:58px;
    background-color:black;
    color:white;
    
}
.start-header{
    padding:0.5em 0 0.5em 1.75em;
    font-weight: 700;
}

#start-box{
    width:200px;
    height:450px;
    position:absolute;
    bottom:0;
    background-color: lightgrey;
    overflow:hidden;
    
}

.start-content ul {
    display:flex;
    height:400px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
padding: 0;
    list-style: none;
}

.start-content ul>li {
    height:80px;
    width:calc(100% - 3.8em - 2px);
    border-bottom: 1px solid grey;
    padding:1.9em;
    cursor:default;
}
.start-content ul>li:hover {
    background-color: #303030;
    color:whitesmoke;
}
.start-content ul>li:last-child {
    
    border-bottom: none;
    
}

.resize{
    position: absolute;
    bottom: -6px;
    right: 0;
    font-size: 1.5em;
}

.bttm-icon{
    max-width: 125px;
    height: 58px;
    margin: 2px 2px;
    background-color:dimgrey;
    color: white;
    text-align:center;
    padding:2px;
}

.fa-sort-down {
    transform: rotate(-45deg);
    font-size:0.75em;
    
}