body {
    margin: 0 !important;
    font-size: 16px;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

main {
    width: 100%;
    height: calc(100% - 50px);
    background-image: url("img/quickbg2.png");
    background-size: cover;
    font-family: ChicagoOld;
    font-size: 12px;
}

/* Messed up container -  do not touch */
#menu-overlay-gauche {
    position: absolute;
    width: 100%;
    height: calc(100% - 61px);
    font-size: 5em;
    /* top: 0.5em; */
    display: flex;
    flex-direction: column-reverse;
    /* align-items: flex-end; */
    /* margin: 1em; */
    justify-content: flex-end;
    align-content: flex-start;
    flex-wrap: wrap-reverse;
}

.icon {
    margin: 0.75em 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    mix-blend-mode: difference;
}


.undericon {
    font-size: 1rem;

    letter-spacing: 1px;
}

/* 
#trash {
    bottom: 0;
    position: absolute;
} */



/* Windowframe */

.wholeframe {
    position: relative;
}

.windowframe {
    background-color: white;
    border: 1px black solid;
    font-family: ChicagoOld;
}




.topframe {
    height: 40px;
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 10px 1em 0;
    display: flex;
}

.topframe:hover {
    cursor: move;
}


.fullscr {
    margin: 0 2em 0 0;
}

.fullscr:hover {
    cursor: ns-resize;
}


.inside-text {
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
}

.minimize {
    padding-left: 1em;
    margin: auto;
    position: absolute;
    right: 50px;
    background-color: black;
    width: 1em;
}

.minimize:hover {
    cursor: pointer;
}

.kill {
    padding-left: 1em;
    position: absolute;
    right: 15px;
    background-color: black;
}

.kill:hover {
    cursor: not-allowed;
}

iframe {
    width: calc(100% - 4px);
    height: calc(100% - 54px);
}


/* Bottom bar */

#bottom-bar {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px black solid;
    height: 60px;
    background-image: url("img/dither-image.jpg");
    background-repeat: repeat-x;
    background-size: contain;
    display: flex;
    z-index: 0;
}

/* Start menu and list */

#start-menu {
    height: 60px;
    width: 80px;
    background-color: black;
    color: white;
    z-index: 1;
    font-weight: 800;
    font-family: 'ChicagoOld';
    letter-spacing: 1px;
}

.start-header {
    padding: 0.5em 0 0.5em 1.75em;
    font-weight: 700;
}

.start-header::selection {
    background-color: none;
}

#start-box {
    width: 200px;
    height: 450px;
    position: absolute;
    bottom: 61px;
    background-color: lightgrey;
    overflow: hidden;
    z-index: 89;
}

.start-content ul {
    display: flex;
    height: 400px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

.start-content ul>li {
    height: 80px;
    width: calc(100% - 3.8em - 2px);
    border-bottom: 1px solid grey;
    padding: 1.9em;
    cursor: default;
}

.start-content ul>li:hover {
    background-color: #0e0e0e;
    color: whitesmoke;
}

.start-content ul>li:active {
    background-color: #4d4d4d;
    color: antiquewhite;
}

.start-content ul>li::selection {
    background-color: none;
    color: black;
}

.start-content ul>li:last-child {
    border-bottom: none;
}

/* other resize button ? */

.resize {
    position: absolute;
    bottom: -6px;
    right: 0;
    font-size: 1.5em;
}

/* buttons after minimize */
.bttm-icon {
    width: 130px;
    height: 60px;
    background-color: dimgrey;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: ChicagoOld;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* a verifier ? */
.fa-sort-down {
    transform: rotate(-45deg);
    font-size: 0.75em;
}


/* Log off Screen */

#log-off {
    z-index: -999;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    transition: 1s;
    background-color: #101010;
    color: whitesmoke;
    font-size: 3em;
    flex-direction: column;
}

#log-off-text {
    display: none;
}



/* LOADING SCREEN */

#start-screen {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    background-color: white;
}


#start-screen div {
    width: 49vw;
    overflow: hidden;
    display: block;
    height: auto;
}

#start-screen video {
    width: 101%;
    margin-right: -5px;
}




/* resize button */

.ui-icon {
    background-size: 2000% !important;
    width: 25px !important;
    height: 25px !important;
}

.ui-icon-gripsmall-diagonal-se {
    background-position: -342px -62px !important;
}






/* Custom Fonts */

@font-face {
    font-family: ChicagoOld;
    src: url(pixChicago.woff);
}

@font-face {
    font-family: Louis;
    src: url(Louis_George_Cafe_Bold.ttf);
}


/* Scrollbar style */

/* width */
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(54, 54, 54, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(99, 99, 99, 0.5);
}

#mitsub {
    background-color: rgba(54, 54, 54, 0.5);
    color: white;
    margin: 0 1em;
    font-size: 2rem;
    padding-left: 0.15rem;
}



.icon:active {
    background-color: white;
    color: black;

}