body {
    height: 100vh;
    width: 100vw;
    background-color: white;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    margin: 0;
   

}

main {
    width: 100%;
    height:100%;
    background-image: url("img/garbage_monster.jpg");
    background-size: cover;
}