body {
  background-color: white;
  width: 100vw;
  height: 100vh;
  font-size: 24px;
  font-family: ChicagoOld;
  font-size: 12px;
}

#grid-C table {
  width: 75vw;
  height: 60vh;
}

#grid-C table tbody {
  
}

#grid-C table tr {
  
}

#grid-C table tr td {
  
  padding: 1.75em;
  text-align: center;

}

#icon10{
  transition:4s ease-out;
}

#icon10{
  transition:2s ease-in;
}

.drag:active{
  color:white;
  background-color:black;
}


.fas {

  font-size: 3em;
}

.fab {

  font-size: 3em;
}
.far {

  font-size: 3em;
}


.windowframe {
  background-color: white;
  border: 1px black solid;
  font-family: ChicagoOld;
}

.topframe {
  height: 40px;
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 10px 1em 0;
}

iframe {
  width: calc(100% - 4px);
  height: calc(100% - 54px);
}

.topframe:hover {
  cursor: move;
}

.wholeframe {
  position: relative;
}

.fullscr {
  margin: 0 2em 0 0;
}

.fullscr:hover {
  cursor: ns-resize;
}

.minimize {
  margin: 0 0 0 2em;
  float: right;
}

.minimize:hover {
  cursor: pointer;
}

.kill {
  margin: 0 0 0 2em;
  float: right;
}

.kill:hover {
  cursor: not-allowed;
}

@font-face {
  font-family: ChicagoOld;
  src: url(../pixChicago.woff);
}

.inside-text {
  text-overflow: clip;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}


/* width */
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(54, 54, 54, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(99, 99, 99, 0.5);
}

body>video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: hard-light;
  filter: brightness(1.5);
}